<head>
  <title>Cat Blocks V0.6 - Editor</title>
</head>

<script src="blockly_compressed.js"></script>
<script src="javascript_compressed.js"></script>
<script src="blocks_compressed.js"></script>

<script src="msg/js/en.js"></script>

<button onclick="runCode()">Run code</button>

<br>
<br>

<textarea id="console" style="width: 40%; height: 100px; border: 1px solid black" readonly></textarea>

<br>
<br>

<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>

<xml id="toolbox" style="display: none">
  <category name="Control">
   <block type="controls_if"></block>
   <block type="controls_repeat_ext"></block>
   <block type="controls_for"></block>
  </category>
  
  <category name="Other">
   <block type="logic_compare"></block>
   <block type="math_number"></block>
   <block type="math_arithmetic"></block>
   <block type="text"></block>
   <block type="text_print"></block>
   <block type="writetoconsole"></block>
  </category>
  
  <category name="Variables" colour="330" custom="VARIABLE"></category>
  <category name="Functions" colour="290" custom="PROCEDURE"></category>
</xml>

<script>
      Blockly.JavaScript.addReservedWords('code');
    var code = Blockly.JavaScript.workspaceToCode(workspace);
</script>

<script>

  function runCode() {
    
    console.innerHTML = "";
    
    var code = Blockly.JavaScript.workspaceToCode(workspace);
    
  try {
   eval(code);
  } catch (e) {
   alert(e);
  }
    
  }
  
</script>

<script>
  
Blockly.Blocks['writetoconsole'] = {
  init: function() {
    this.appendDummyInput()
        .appendField("Write to console");
    this.appendValueInput("text")
        .setCheck("String");
    this.setPreviousStatement(true, null);
    this.setNextStatement(true, null);
    this.setColour(230);
 this.setTooltip("");
 this.setHelpUrl("");
  }
};
  
Blockly.JavaScript['writetoconsole'] = function(block) {
  var value_text = Blockly.JavaScript.valueToCode(block, 'text', Blockly.JavaScript.ORDER_ATOMIC);
  // TODO: Assemble JavaScript into code variable.
  var code = 'console.innerHTML += ' + value_text + ' \n';
  return code;
};
  
</script>

<script>
  var workspace = Blockly.inject('blocklyDiv',
      {toolbox: document.getElementById('toolbox')});
</script>

<script>
  
  var console = document.getElementById("console")
  
</script>
